#s-17f1697f-0af8-4f76-961e-e3b0b4d599af > #backgroundBox {
  position: absolute;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af > #alignmentBox {
  position: relative;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_1 {
  box-shadow: none;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 {
  position: absolute;
  width: 542.9999999999999px;
  height: 45.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 {
  box-shadow: none;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 .valign {
  vertical-align: middle;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 textarea::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 textarea::-moz-placeholder {
  color: #B4B4B4;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 textarea:-moz-placeholder {
  color: #B4B4B4;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 textarea:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 {
  position: absolute;
  width: 543.4999999999993px;
  height: 72.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 {
  box-shadow: none;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 textarea {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Image_1 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Image_1 {
  box-shadow: none;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Category_1 td {
  vertical-align: top;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Category_1 {
  position: absolute;
  width: 180.0px;
  height: 83.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
_:-ms-fullscreen, :root #s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Category_1 {
  box-shadow: none;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Category_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Category_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_2 {
  box-shadow: none;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 {
  box-shadow: none;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-17f1697f-0af8-4f76-961e-e3b0b4d599af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}